main {
    text-align: center;
    font-family: sans-serif, Arial;
}

.form-control {
    position: relative;
    display: block;
    padding: 22px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    width: 470px;
    height: 42px;
    border-radius: 100px;
    border: 1px solid #dedede;
    box-shadow: 1px 1px 1px 1px #eaeaea;
}
.btn-light {
    margin: 15px;
    margin-top: 20px;
    color: grey
}
.logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    width: 350px;
}
.rightnav{
    margin-top: -30px;
}